<a href="https://colab.research.google.com/github/sajiaakhter/mec-mini-projects/blob/master/mec_5_4_4_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [ ]:
json_df = pd.read_json('https://raw.githubusercontent.com/springboard-curriculum/mec-mini-projects/master/mec-5.4.4-json-data-wrangling-mini-project/data/world_bank_projects.json')
print(json_df.info())
print(json_df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sector                    500 non-null    object
 1   supplementprojectflg      498 non-null    object
 2   projectfinancialtype      500 non-null    object
 3   prodline                  500 non-null    object
 4   mjtheme                   491 non-null    object
 5   idacommamt                500 non-null    int64
 6   impagency                 472 non-null    object
 7   project_name              500 non-null    object
 8   mjthemecode               500 non-null    object
 9   closingdate               370 non-null    object
 10  totalcommamt              500 non-null    int64
 11  id                        500 non-null    object
 12  mjsector_namecode         500 non-null    object
 13  docty                     446 non-null    object
 14  sector1                   500 non-null    object
 15  lendinginstr              495 non-null    object
 16  countrycode               500 non-null    object
 17  sector2                   380 non-null    object
 18  totalamt                  500 non-null    int64
 19  mjtheme_namecode          500 non-null    object
 20  boardapprovaldate         500 non-null    object
 21  countryshortname          500 non-null    object
 22  sector4                   174 non-null    object
 23  prodlinetext              500 non-null    object
 24  productlinetype           500 non-null    object
 25  regionname                500 non-null    object
 26  status                    500 non-null    object
 27  country_namecode          500 non-null    object
 28  envassesmentcategorycode  430 non-null    object
 29  project_abstract          362 non-null    object
 30  approvalfy                500 non-null    int64
 31  projectdocs               446 non-null    object
 32  lendprojectcost           500 non-null    int64
 33  lendinginstrtype          495 non-null    object
 34  theme1                    500 non-null    object
 35  grantamt                  500 non-null    int64
 36  themecode                 491 non-null    object
 37  borrower                  485 non-null    object
 38  sectorcode                500 non-null    object
 39  sector3                   265 non-null    object
 40  majorsector_percent       500 non-null    object
 41  board_approval_month      500 non-null    object
 42  theme_namecode            491 non-null    object
 43  countryname               500 non-null    object
 44  url                       500 non-null    object
 45  source                    500 non-null    object
 46  projectstatusdisplay      500 non-null    object
 47  ibrdcommamt               500 non-null    int64
 48  sector_namecode           500 non-null    object
 49  _id                       500 non-null    object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB
None
                                              sector supplementprojectflg  \
0  [{'Name': 'Primary education'}, {'Name': 'Seco...                    N
1  [{'Name': 'Public administration- Other social...                    N
2  [{'Name': 'Rural and Inter-Urban Roads and Hig...                    Y
3                [{'Name': 'Other social services'}]                    N
4  [{'Name': 'General industry and trade sector'}...                    N
5                [{'Name': 'Other social services'}]                    Y
6  [{'Name': 'Rural and Inter-Urban Roads and Hig...                    N
7               [{'Name': 'Other Renewable Energy'}]                    N
8  [{'Name': 'Rural and Inter-Urban Roads and Hig...                    N
9  [{'Name': 'General public administration secto...                    N

  projectfinancialtype prodline  \
0                  IDA       PE
1                OTHER       RE
2                  IDA       PE
3                OTHER       RE
4                  IDA       PE
5                  IDA       PE
6                 IBRD       PE
7                OTHER       GE
8                  IDA       PE
9                 IBRD       PE

                                             mjtheme  idacommamt  \
0                                [Human development]   130000000
1  [Economic management, Social protection and ri...           0
2  [Trade and integration, Public sector governan...     6060000
3  [Social dev/gender/inclusion, Social dev/gende...           0
4  [Trade and integration, Financial and private ...    13100000
5            [Social protection and risk management]    10000000
6  [Public sector governance, Financial and priva...           0
7     [Environment and natural resources management]           0
8                                [Rural development]   160000000
9  [Public sector governance, Public sector gover...           0

                                  impagency  \
0                     MINISTRY OF EDUCATION
1                       MINISTRY OF FINANCE
2  MINISTRY OF TRANSPORT AND COMMUNICATIONS
3  LABOR INTENSIVE PUBLIC WORKS PROJECT PMU
4            MINISTRY OF TRADE AND INDUSTRY
5                                       NaN
6   MINISTRY OF ROAD TRANSPORT AND HIGHWAYS
7            NATIONAL ENERGY ADMINISTRATION
8        PUBLIC WORKS DEPARTMANT, RAJASTHAN
9                       MINISTRY OF FINANCE

                                        project_name mjthemecode  \
0  Ethiopia General Education Quality Improvement...        8,11
1          TN: DTF Social Protection Reforms Support         1,6
2  Tuvalu Aviation Investment Project - Additiona...    5,2,11,6
3   Gov't and Civil Society Organization Partnership         7,7
4  Second Private Sector Competitiveness and Econ...         5,4
5  Additional Financing for Cash Transfers for Or...         6,6
6  National Highways Interconnectivity Improvemen...         2,4
7   China Renewable Energy Scale-Up Program Phase II        11,8
8        Rajasthan Road Sector Modernization Project        10,7
9             MA Accountability and Transparency DPL       2,2,2

            closingdate  ...  \
0  2018-07-07T00:00:00Z  ...
1                   NaN  ...
2                   NaN  ...
3                   NaN  ...
4  2019-04-30T00:00:00Z  ...
5                   NaN  ...
6  2019-06-30T00:00:00Z  ...
7                   NaN  ...
8  2018-12-31T00:00:00Z  ...
9  2014-12-31T00:00:00Z  ...

                                 majorsector_percent board_approval_month  \
0  [{'Percent': 46, 'Name': 'Education'}, {'Perce...             November
1  [{'Percent': 70, 'Name': 'Public Administratio...             November
2       [{'Percent': 100, 'Name': 'Transportation'}]             November
3  [{'Percent': 100, 'Name': 'Health and other so...              October
4  [{'Percent': 50, 'Name': 'Industry and trade'}...              October
5  [{'Percent': 100, 'Name': 'Health and other so...              October
6       [{'Percent': 100, 'Name': 'Transportation'}]              October
7    [{'Percent': 100, 'Name': 'Energy and mining'}]              October
8       [{'Percent': 100, 'Name': 'Transportation'}]              October
9  [{'Percent': 34, 'Name': 'Public Administratio...              October

                                      theme_namecode  \
0      [{'code': '65', 'name': 'Education for all'}]
1  [{'code': '24', 'name': 'Other economic manage...
2  [{'code': '47', 'name': 'Regional integration'...
3  [{'code': '57', 'name': 'Participation and civ...
4  [{'code': '45', 'name': 'Export development an...
5     [{'code': '54', 'name': 'Social safety nets'}]
6  [{'code': '25', 'name': 'Administrative and ci...
7         [{'code': '81', 'name': 'Climate change'}]
8  [{'code': '79', 'name': 'Other rural developme...
9  [{'code': '29', 'name': 'Other accountability/...

                               countryname  \
0  Federal Democratic Republic of Ethiopia
1                      Republic of Tunisia
2                                   Tuvalu
3                        Republic of Yemen
4                       Kingdom of Lesotho
5                        Republic of Kenya
6                        Republic of India
7               People's Republic of China
8                        Republic of India
9                       Kingdom of Morocco

                                                 url source  \
0  http://www.worldbank.org/projects/P129828/ethi...   IBRD
1  http://www.worldbank.org/projects/P144674?lang=en   IBRD
2  http://www.worldbank.org/projects/P145310?lang=en   IBRD
3  http://www.worldbank.org/projects/P144665?lang=en   IBRD
4  http://www.worldbank.org/projects/P144933/seco...   IBRD
5  http://www.worldbank.org/projects/P146161?lang=en   IBRD
6  http://www.worldbank.org/projects/P121185/firs...   IBRD
7  http://www.worldbank.org/projects/P127033/chin...   IBRD
8  http://www.worldbank.org/projects/P130164/raja...   IBRD
9  http://www.worldbank.org/projects/P130903?lang=en   IBRD

  projectstatusdisplay ibrdcommamt  \
0               Active           0
1               Active           0
2               Active           0
3               Active           0
4               Active           0
5               Active           0
6               Active   500000000
7               Active           0
8               Active           0
9               Active   200000000

                                     sector_namecode  \
0  [{'code': 'EP', 'name': 'Primary education'}, ...
1  [{'code': 'BS', 'name': 'Public administration...
2  [{'code': 'TI', 'name': 'Rural and Inter-Urban...
3  [{'code': 'JB', 'name': 'Other social services'}]
4  [{'code': 'YZ', 'name': 'General industry and ...
5  [{'code': 'JB', 'name': 'Other social services'}]
6  [{'code': 'TI', 'name': 'Rural and Inter-Urban...
7  [{'code': 'LR', 'name': 'Other Renewable Energ...
8  [{'code': 'TI', 'name': 'Rural and Inter-Urban...
9  [{'code': 'BZ', 'name': 'General public admini...

                                    _id
0  {'$oid': '52b213b38594d8a2be17c780'}
1  {'$oid': '52b213b38594d8a2be17c781'}
2  {'$oid': '52b213b38594d8a2be17c782'}
3  {'$oid': '52b213b38594d8a2be17c783'}
4  {'$oid': '52b213b38594d8a2be17c784'}
5  {'$oid': '52b213b38594d8a2be17c785'}
6  {'$oid': '52b213b38594d8a2be17c786'}
7  {'$oid': '52b213b38594d8a2be17c787'}
8  {'$oid': '52b213b38594d8a2be17c788'}
9  {'$oid': '52b213b38594d8a2be17c789'}

[10 rows x 50 columns]

In [ ]:
#1. Find the 10 countries with most projects
countries = json_df.countryname.value_counts()
print(countries[:10])

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [ ]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')

projects_json = pd.json_normalize(json_df.mjtheme_namecode)
projects = pd.json_normalize(projects_json[0])
topProjects = projects.groupby(['code', 'name']).name.count()
print(topProjects)
'''
topProjects = projects.code.value_counts()[:10]
print('code name count')
for i in range(0,10):
  names = projects[projects.code == topProjects.index[i]][:1]
  onlyName = names.name.values[0]
  print(topProjects.index[i],onlyName,topProjects[i])
  i+=1
  
'''

code  name
1     Economic management                             11
10                                                     1
      Rural development                               56
11                                                     3
      Environment and natural resources management    85
2                                                      2
      Public sector governance                        64
3     Rule of law                                      2
4                                                      1
      Financial and private sector development        53
5     Trade and integration                           25
6     Social protection and risk management           57
7                                                      1
      Social dev/gender/inclusion                     43
8     Human development                               72
9                                                      1
      Urban development                               23
Name: name, dtype: int64

"\ntopProjects = projects.code.value_counts()[:10]\nprint('code name count')\nfor i in range(0,10):\n  names = projects[projects.code == topProjects.index[i]][:1]\n  onlyName = names.name.values[0]\n  print(topProjects.index[i],onlyName,topProjects[i])\n  i+=1\n  \n"

In [ ]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
projects_json = pd.json_normalize(json_df.mjtheme_namecode)
projects = pd.json_normalize(projects_json[0])
projects['name'].replace('',np.nan, inplace = True)
projects['name'].fillna('No name', inplace = True)
projects

    code                                      name
0      8                         Human development
1      1                       Economic management
2      5                     Trade and integration
3      7               Social dev/gender/inclusion
4      5                     Trade and integration
..   ...                                       ...
495    4  Financial and private sector development
496    8                         Human development
497   10                         Rural development
498   10                         Rural development
499    9                         Urban development

[500 rows x 2 columns]