<a href="https://colab.research.google.com/github/sajiaakhter/mec-mini-projects/blob/master/mec_5_4_4_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [ ]:
json_df = pd.read_json('https://raw.githubusercontent.com/springboard-curriculum/mec-mini-projects/master/mec-5.4.4-json-data-wrangling-mini-project/data/world_bank_projects.json')
print(json_df.info())
print(json_df.head(10))

In [3]:
#1. Find the 10 countries with most projects
countries = json_df.countryname.value_counts()
print(countries[:10])

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [6]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')

projects = pd.json_normalize(json_df.mjtheme_namecode)
print(projects)

                                                     0  ...     4
0           {'code': '8', 'name': 'Human development'}  ...  None
1         {'code': '1', 'name': 'Economic management'}  ...  None
2       {'code': '5', 'name': 'Trade and integration'}  ...  None
3    {'code': '7', 'name': 'Social dev/gender/inclu...  ...  None
4       {'code': '5', 'name': 'Trade and integration'}  ...  None
..                                                 ...  ...   ...
495  {'code': '4', 'name': 'Financial and private s...  ...  None
496         {'code': '8', 'name': 'Human development'}  ...  None
497        {'code': '10', 'name': 'Rural development'}  ...  None
498        {'code': '10', 'name': 'Rural development'}  ...  None
499         {'code': '9', 'name': 'Urban development'}  ...  None

[500 rows x 5 columns]

In [ ]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.