<a href="https://colab.research.google.com/github/sajiaakhter/mec-mini-projects/blob/master/Multimodal_Single_Cell_Integration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Download Kaggle Data in Colab**

In [ ]:
! pip install -q kaggle

In [ ]:
#before running copy kaggle.json using current APi
! mkdir ~/.kaggle
! cp /kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! ls -al /root/.kaggle/
!kaggle datasets list

**Downloading Single Cell data**

In [ ]:
!kaggle competitions download -c open-problems-multimodal

Downloading open-problems-multimodal.zip to /content
100% 18.1G/18.1G [01:41<00:00, 230MB/s]
100% 18.1G/18.1G [01:41<00:00, 192MB/s]

In [ ]:
#Unzip data
! unzip /content/open-problems-multimodal.zip

Archive:  /content/open-problems-multimodal.zip
  inflating: evaluation_ids.csv
  inflating: metadata.csv
  inflating: metadata_cite_day_2_donor_27678.csv
  inflating: sample_submission.csv
  inflating: test_cite_inputs.h5
  inflating: test_cite_inputs_day_2_donor_27678.h5
  inflating: test_multi_inputs.h5
  inflating: train_cite_inputs.h5
  inflating: train_cite_targets.h5
  inflating: train_multi_inputs.h5
  inflating: train_multi_targets.h5

In [ ]:
#copy data to a directory
!mkdir /content/open-problems-multimodal
!mv /content/evaluation_ids.csv /content/open-problems-multimodal
!mv /content/metadata.csv /content/open-problems-multimodal
!mv /content/metadata_cite_day_2_donor_27678.csv /content/open-problems-multimodal
!mv /content/sample_submission.csv /content/open-problems-multimodal
!mv /content/test_cite_inputs.h5 /content/open-problems-multimodal
!mv /content/test_cite_inputs_day_2_donor_27678.h5 /content/open-problems-multimodal
!mv /content/test_multi_inputs.h5 /content/open-problems-multimodal
!mv /content/train_cite_inputs.h5 /content/open-problems-multimodal
!mv /content/train_cite_targets.h5 /content/open-problems-multimodal
!mv /content/train_multi_inputs.h5 /content/open-problems-multimodal
!mv /content/train_multi_targets.h5 /content/open-problems-multimodal

**Data Wrangling**

In [ ]:
#import libraries
import numpy as np
import pandas as pd

In [ ]:
evaluation = pd.read_csv('/content/open-problems-multimodal/evaluation_ids.csv')
evaluation.head()

   row_id       cell_id gene_id
0       0  c2150f55becb    CD86
1       1  c2150f55becb   CD274
2       2  c2150f55becb   CD270
3       3  c2150f55becb   CD155
4       4  c2150f55becb   CD112

In [ ]:
metadata = pd.read_csv('/content/open-problems-multimodal/metadata.csv')
metadata.head(5)

        cell_id  day  donor cell_type technology
0  c2150f55becb    2  27678       HSC    citeseq
1  65b7edf8a4da    2  27678       HSC    citeseq
2  c1b26cb1057b    2  27678      EryP    citeseq
3  917168fa6f83    2  27678      NeuP    citeseq
4  2b29feeca86d    2  27678      EryP    citeseq

In [ ]:
metadata_donor_27678 = pd.read_csv('/content/open-problems-multimodal/metadata_cite_day_2_donor_27678.csv')
metadata_donor_27678.head(5)

        cell_id  day  donor cell_type technology
0  83d6659a6a32    2  27678      NeuP    citeseq
1  d98594f13d2e    2  27678      NeuP    citeseq
2  5f93d8ffc72f    2  27678      NeuP    citeseq
3  7dfa2699d351    2  27678      EryP    citeseq
4  6d2533edd0e0    2  27678       HSC    citeseq

In [ ]:
sample_submission = pd.read_csv('/content/open-problems-multimodal/sample_submission.csv')
sample_submission.head(5)

   row_id  target
0       0     0.0
1       1     0.0
2       2     0.0
3       3     0.0
4       4     0.0

In [ ]:
test_cite_inputs = pd.read_hdf('/content/open-problems-multimodal/test_cite_inputs.h5')
test_cite_inputs.head(5)

gene_id,ENSG00000121410_A1BG,ENSG00000268895_A1BG-AS1,ENSG00000175899_A2M,ENSG00000245105_A2M-AS1,ENSG00000166535_A2ML1,ENSG00000128274_A4GALT,ENSG00000094914_AAAS,ENSG00000081760_AACS,ENSG00000109576_AADAT,ENSG00000103591_AAGAB,...,ENSG00000153975_ZUP1,ENSG00000086827_ZW10,ENSG00000174442_ZWILCH,ENSG00000122952_ZWINT,ENSG00000198205_ZXDA,ENSG00000198455_ZXDB,ENSG00000070476_ZXDC,ENSG00000162378_ZYG11B,ENSG00000159840_ZYX,ENSG00000074755_ZZEF1
cell_id,,,,,,,,,,,,,,,,,,,,,
c2150f55becb,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,4.090185,0.0
65b7edf8a4da,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,4.039545,0.0,0.0,0.00000,0.000000,0.000000,0.0
c1b26cb1057b,0.0,0.0,0.0,0.0,0.0,3.847321,0.000000,3.847321,3.847321,0.0,...,0.000000,0.000000,3.847321,4.529743,0.0,0.0,0.00000,3.847321,3.847321,0.0
917168fa6f83,0.0,0.0,0.0,0.0,0.0,0.000000,3.436846,3.436846,0.000000,0.0,...,3.436846,0.000000,4.113780,5.020215,0.0,0.0,0.00000,3.436846,4.113780,0.0
2b29feeca86d,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,4.196826,0.000000,0.0,...,0.000000,4.196826,4.196826,4.196826,0.0,0.0,3.51861,4.196826,3.518610,0.0

In [ ]:
test_cite_inputs_donor_27678 = pd.read_hdf('/content/open-problems-multimodal/test_cite_inputs_day_2_donor_27678.h5')
test_cite_inputs_donor_27678.head()

gene_ids,ENSG00000121410_A1BG,ENSG00000268895_A1BG-AS1,ENSG00000175899_A2M,ENSG00000245105_A2M-AS1,ENSG00000166535_A2ML1,ENSG00000128274_A4GALT,ENSG00000094914_AAAS,ENSG00000081760_AACS,ENSG00000109576_AADAT,ENSG00000103591_AAGAB,...,ENSG00000153975_ZUP1,ENSG00000086827_ZW10,ENSG00000174442_ZWILCH,ENSG00000122952_ZWINT,ENSG00000198205_ZXDA,ENSG00000198455_ZXDB,ENSG00000070476_ZXDC,ENSG00000162378_ZYG11B,ENSG00000159840_ZYX,ENSG00000074755_ZZEF1
83d6659a6a32,0.0,0.0,0.0,3.131642,0.0,0.0,4.200725,3.802724,3.131642,0.000000,...,0.000000,3.802724,4.484654,5.039423,0.0,0.0,0.0,0.000000,4.200725,0.000000
d98594f13d2e,0.0,0.0,0.0,0.000000,0.0,0.0,3.320383,3.320383,0.000000,3.995295,...,3.320383,3.995295,3.995295,4.394607,0.0,0.0,0.0,3.320383,4.679199,3.320383
5f93d8ffc72f,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,4.141674,0.000000,3.464298,...,0.000000,3.464298,0.000000,4.826841,0.0,0.0,0.0,0.000000,4.141674,3.464298
7dfa2699d351,0.0,0.0,0.0,0.000000,0.0,0.0,3.110534,3.781140,0.000000,3.110534,...,3.110534,3.110534,0.000000,4.683659,0.0,0.0,0.0,0.000000,4.178977,3.110534
6d2533edd0e0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,3.943663,3.943663,0.000000,0.000000,0.0,0.0,0.0,0.000000,4.627074,0.000000

In [ ]:
 test_multi_inputs = pd.read_hdf('/content/open-problems-multimodal/test_multi_inputs.h5')
 test_multi_inputs.head(5)

In [ ]:
train_cite_inputs= pd.read_hdf('/content/open-problems-multimodal/train_cite_inputs.h5')
train_cite_inputs.head(5)

gene_id,ENSG00000121410_A1BG,ENSG00000268895_A1BG-AS1,ENSG00000175899_A2M,ENSG00000245105_A2M-AS1,ENSG00000166535_A2ML1,ENSG00000128274_A4GALT,ENSG00000094914_AAAS,ENSG00000081760_AACS,ENSG00000109576_AADAT,ENSG00000103591_AAGAB,...,ENSG00000153975_ZUP1,ENSG00000086827_ZW10,ENSG00000174442_ZWILCH,ENSG00000122952_ZWINT,ENSG00000198205_ZXDA,ENSG00000198455_ZXDB,ENSG00000070476_ZXDC,ENSG00000162378_ZYG11B,ENSG00000159840_ZYX,ENSG00000074755_ZZEF1
cell_id,,,,,,,,,,,,,,,,,,,,,
45006fe3e4c8,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,4.090185,0.0
d02759a80ba2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,4.039545,0.0,0.0,0.00000,0.000000,0.000000,0.0
c016c6b0efa5,0.0,0.0,0.0,0.0,0.0,3.847321,0.000000,3.847321,3.847321,0.0,...,0.000000,0.000000,3.847321,4.529743,0.0,0.0,0.00000,3.847321,3.847321,0.0
ba7f733a4f75,0.0,0.0,0.0,0.0,0.0,0.000000,3.436846,3.436846,0.000000,0.0,...,3.436846,0.000000,4.113780,5.020215,0.0,0.0,0.00000,3.436846,4.113780,0.0
fbcf2443ffb2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,4.196826,0.000000,0.0,...,0.000000,4.196826,4.196826,4.196826,0.0,0.0,3.51861,4.196826,3.518610,0.0

In [ ]:
train_cite_targets= pd.read_hdf('/content/open-problems-multimodal/train_cite_targets.h5')
train_cite_targets.head(5)

gene_id,CD86,CD274,CD270,CD155,CD112,CD47,CD48,CD40,CD154,CD52,...,CD94,CD162,CD85j,CD23,CD328,HLA-E,CD82,CD101,CD88,CD224
cell_id,,,,,,,,,,,,,,,,,,,,,
45006fe3e4c8,1.167804,0.622530,0.106959,0.324989,3.331674,6.426002,1.480766,-0.728392,-0.468851,-0.073285,...,-0.448390,3.220174,-0.533004,0.674956,-0.006187,0.682148,1.398105,0.414292,1.780314,0.548070
d02759a80ba2,0.818970,0.506009,1.078682,6.848758,3.524885,5.279456,4.930438,2.069372,0.333652,-0.468088,...,0.323613,8.407108,0.131301,0.047607,-0.243628,0.547864,1.832587,0.982308,2.736507,2.184063
c016c6b0efa5,-0.356703,-0.422261,-0.824493,1.137495,0.518924,7.221962,-0.375034,1.738071,0.142919,-0.971460,...,1.348692,4.888579,-0.279483,-0.131097,-0.177604,-0.689188,9.013709,-1.182975,3.958148,2.868600
ba7f733a4f75,-1.201507,0.149115,2.022468,6.021595,7.258670,2.792436,21.708519,-0.137913,1.649969,-0.754680,...,1.504426,12.391979,0.511394,0.587863,-0.752638,1.714851,3.893782,1.799661,1.537249,4.407671
fbcf2443ffb2,-0.100404,0.697461,0.625836,-0.298404,1.369898,3.254521,-1.659380,0.643531,0.902710,1.291877,...,0.777023,6.496499,0.279898,-0.841950,-0.869419,0.675092,5.259685,-0.835379,9.631781,1.765445

In [ ]:
train_multi_inputs= pd.read_hdf('/content/open-problems-multimodal/train_multi_inputs.h5')
train_multi_inputs.head(5)

In [ ]:
train_multi_targets= pd.read_hdf('/content/open-problems-multimodal/train_multi_targets.h5')
train_multi_targets.head(5)

gene_id,ENSG00000121410,ENSG00000268895,ENSG00000175899,ENSG00000245105,ENSG00000166535,ENSG00000256661,ENSG00000184389,ENSG00000128274,ENSG00000094914,ENSG00000081760,...,ENSG00000086827,ENSG00000174442,ENSG00000122952,ENSG00000198205,ENSG00000198455,ENSG00000070476,ENSG00000203995,ENSG00000162378,ENSG00000159840,ENSG00000074755
cell_id,,,,,,,,,,,,,,,,,,,,,
56390cf1b95e,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,4.893861,0.0,0.0,0.000000,0.0,5.583255,0.000000,4.893861
fc0c60183c33,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
9b4a87e22ad0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,5.107832,0.0,0.0,0.000000,0.0,0.000000,0.000000,5.107832
81cccad8cd81,0.0,4.507936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.195558,4.507936,0.0,0.0,0.000000,0.0,0.000000,0.000000,5.195558
15cb3d85c232,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,5.531572,0.0,0.000000,4.842377,0.000000